streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters

google-generativeai
sentence-transformers
faiss-cpu
pypdf
python-dotenv
reportlab
torch
transformers
huggingface-hub
